@font-face {
			font-family: "RalewayRegular";
			src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayThin";
			src: url("../fonts/RalewayThin/RalewayThin.eot");
			src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
			url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayExtraLight";
			src: url("../fonts/raleway/Raleway-ExtraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayLight";
			src: url("../fonts/raleway/Raleway-Light.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayMedium";
			src: url("../fonts/RalewayMedium/RalewayMedium.eot");
			src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
			url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewaySemiBold";
			src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayBold";
			src: url("../fonts/RalewayBold/RalewayBold.eot");
			src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
			url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayExtraBold";
			src: url("../fonts/raleway/Raleway-ExtraBold.eot");
			src: url("../fonts/raleway/Raleway-ExtraBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayBlack";
			src: url("../fonts/RalewayBlack/RalewayBlack.eot");
			src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
			url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

body {
	margin: 0;
	padding: 0;
}

.hidden {
    display: none; 
}

h2 {
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 48px;
	color: #000;
}
h3 {
	font-family: "RalewayExtraLight", sans-serif;
	font-size: 32px;
	letter-spacing: 3px;
	/*line-height: 20px;*/
	color: rgba(153, 153, 153, 0.6);
	text-align: center;
	width: 305px;
	margin-top: 100px;
}

h3 span {
	color: rgba(16, 224, 139, 0.5);
}



/*Menu*/

.fix-menu {
	width: 80px;
    height: 100vh;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    background-color: #fff;
    z-index: 1;
} 

.fix-menu.open {
	width: 300px;
}

.nav-img {
	margin-top: 52px;
	margin-left: 30px;
	
} 
.delete {
	display: none;
}

.delete.open {
	    font-weight: bold;
    /* width: 18px; */
    /* height: 18px; */
    font-size: 27px;
    color: #303030;
    /* position: relative; */
    /* z-index: 3; */
    display: block;
    margin-top: 20px;
    font-family: "helvetica";
    text-align: center;
  
}

.nav-img.open {
	display: none;
}



.nav-img.open {
	position: absolute;
	content: 'x';
	font-size: 50px;
    color: #000;
    position: absolute;
}

.fix-menu .menu {
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 11px;
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	margin-top: 6px;
} 

.menu-wrap {
	cursor: pointer;
}
.menu-wrap:hover .menu {
	color: #303030;
}


.side-menu {
	display: none;
    font-family: "RalewayExtraBold", sans-serif;
    /* top: 0; */
    left: 0;
    margin-top: 100px;
     padding: 0; 
    /* width: 300px; */
    list-style-type: none;
    background: #ffffff;
    transition: width .5s;

}

.side-menu li a {
  display: none; */
    font-size: 22px;
    line-height: 59px;
    /*padding-left: 30px;*/
    /* padding-top: 19px; */
    /* padding-bottom: 19px; */
    text-align: center;
    text-decoration: none;
    color: #303030;
    height: 60px;
} 

.side-menu li a:hover{
  background: #10e08b;
}

.side-menu.open {
	display: block;
}

.side-menu li a.open {
	display: block;
}
.soc-items {
	margin-top: 270px;
}

.inst-item, .vk-item {
	display: block;
	cursor: pointer;
	text-decoration: none;
}



.inst-item {
	margin-top: 30px;
}
.soc-img {
	opacity: .3;
	margin-top: 10px;
	margin-left: 31px;
}

.soc-img.open {
	padding-top: 10px;
	margin: auto;
	transform: rotate(90deg);
}

.vk-item:hover .soc-img, .inst-item:hover .soc-img {
	opacity: 1;
}

.soc-descr {
	display: block;
	font-family: "Raleway", sans-serif;
    
    font-size: 12px;
    color: #3f3f3f;
	writing-mode: tb-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    opacity: .3;
    margin: auto;
}

.soc-descr.open {
	writing-mode: lr-tb;
	transform: none;
	opacity: 1;
}

.soc-items.open {
	margin-top: 120px;
	text-align: center;
}
.vk-item:hover .soc-descr, .inst-item:hover .soc-descr {
	opacity: 1;
	font-weight: bold;
	letter-spacing: 1px;
}

.nav-img:hover .side-menu{
	display: block;
}	
/*Top section*/

.top-slide {
	max-width: 1400px;
  height: 785px;
  background: url(../img/mountain.png);
  background-size:cover;
  background-position: cover;
  /*background-attachment:fixed;*/
  position: relative;
}

.top-slide:before {
  background-color: #15181e;
	opacity: .65;
  content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.logo-wrap {
	padding: 50px 100px 0 135px;
	display: flex;
	justify-content: space-between;
	position: relative;

}



.phone {
	display: block;
	    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.phone:hover {
	color: #10e08b;
	cursor: pointer;
}

.call-back {
	font-family: "RalewaySemiBold", sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	color: #cfcfd0;
	float: right;
	margin-top: 7px;
	cursor: pointer;
}

.call-back:hover {
    color: #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.top-title {
	padding-left: 135px;
	margin-top: 130px;
	position: relative;
}

.top-title p {
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 21px;
	color: #10e08b;
	margin: 0;
}

.top-title h1 {
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 56px;
	color: #fff;
	margin-top: 20px;
}

.top-descr {
	padding-left: 135px;
	padding-right: 415px;
	padding-top: 60px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-descr p {
	font-family: "RalewaySemiBold", sans-serif;
	font-size: 15px;
	color: #fff;
	margin-bottom: 0;
}

.descr-first p:after, .descr-second p:after, .descr-third p:after {
	position: absolute;
	content: '';
	height: 2px;
	width: 252px;
	background-color: #92938d;
	
	display: block;
	bottom: -15px;
} 

.arrow-bottom {
	width: 270px;
	height: 65px;
	background-color: #10e08b;
	position: absolute;
	right: 30px;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
}

.arrow-img {
	height: 30px;
	margin-right: 25px;
	margin-top: 20px;
}

.arrow-bottom:hover .arrow-img{
	animation: bounceright .3s alternate ease infinite;
}

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.arrow-bottom p {
	color: #fff;
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 16px;
	line-height: 33px;	
}


/*Second-section*/

.second-section {
	background-color: #fff;
	height: 780px;
	max-width: 1400px;
	margin-top: -1px;
}

.sec-wrap {
	/*padding-right: 170px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.video {
	width: 640px;
	height: 780px;
	background-image: url(../img/bg.png);
}

.sec-descr-wrap {
	padding-right: 170px;
}
.sec-descr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sec-descr h2 {
	margin-top: 100px;
	margin-bottom: 50px;
}

.sec-descr p {
	font-family: "RalewayRegular", sans-serif;
	font-size: 21px;
	line-height: 34px;
	color: #000;
	margin-bottom: 0;
}

.sec-space {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 100px;
	margin-top: 90px;
}

.world-wrap, .space-wrap {
	background-color: #f2f2f2;
	width: 260px;
	height: 190px;
	text-align: center;
}

.world-wrap img, .space-wrap img {
	padding-top: 30px;
}
.world-wrap p, .space-wrap p {
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000;
}

.world-wrap {
	margin-right: 20px;
}

/*third-section*/

.third-section {
	background-color: #fff;
	height: 1165px;
}

.third-section h2 {
	text-align: center;
	margin-top: 80px;
}

.third-top-wrap, .third-bottom-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 130px;
	padding-right: 220px;
	margin-top: 80px;
}
.top-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top-main-items, .bottom-main-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.top-main-items img, .bottom-main-items img {
	margin-left: 30px;
}
.data, .item-descr {
	font-family: "RalewayRegular", sans-serif;
	font-size: 11px;
	color: #bebebe;
	writing-mode: tb-rl;
   transform:rotate(180deg);
   text-transform: uppercase;
}

.data {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

.main-item-descr {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #424242;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 20px;
}

.main-item-descr span {
	color: #10e08b;
	font-weight: bold;
}
.item-descr {
	margin-left: 30px;
}

.third-bottom-wrap {
	margin-top: 60px;
	padding-right: 97px;
}

.third-bottom-wrap h3 {
	padding-left: 115px;
}

/*footer*/

footer {
	max-width: 1400px;
	height: 215px;
	background-color: #303030;
}

.footer-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 150px;
}

.footer-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.footer-item p {
	font-family: "RalewayExtraBold", sans-serif;
	font-size: 12px;
	color: #adadad;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 0;
}

h4 {
	font-family: "RalewayLight", sans-serif;
	font-size: 21px;
	color: #fff;
	margin-top: 30px;
}

/*Pop up form*/

form {
    background-color: #fff;
    padding: 25px 30px;
    border: #10e08b 5px solid;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
}

form input {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #D9D9D9 1px solid;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 3px;
    outline: none;
}

form .button_wrap {
    text-align: center;
    margin: 30px 0 10px;
}

.button.btn-green {
    background-color: #10e08b;
    color: #fff;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
    cursor: pointer;
}

#form_back {
    max-width: 420px;
    margin: auto;
    position: relative;
}

#form_back h2 {
    text-align: center;
    font-weight: normal;
}

#form_back p {
    text-align: center;
}

